<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Pydata Hello World</title>
    <style media="screen">
      .charts-container{
        margin-top: 40px;
      }
      p, h1{
        text-align: center;
      }
      .main-chart-controls span{
        cursor: pointer;
        color: #333;
      }
      .main-chart-controls span:hover{
        color: #007bff;
      }
      .main-chart-controls span.active{
        cursor: default;
        text-decoration: underline;
        color: #007bff;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <!-- Content here -->
      <div class="row">
        <div class="col">
          <h1>PyData Miami 2019 - Zappa Tutorial</h1>
        </div>
      </div>
    </div>
    <div class="row charts-container">
      <div class="col">
        <p style='text-align: center'>Bitcoin</p>
        <img src="data:image/png;base64,{{btc}}" class="img-fluid" alt="Bitcoin">
      </div>
      <div class="col">
        <p style='text-align: center'>Litecoin</p>
        <img src="data:image/png;base64,{{ltc}}" class="img-fluid" alt="Litecoin">
      </div>
      <div class="col">
        <p style='text-align: center'>Ether</p>
        <img src="data:image/png;base64,{{eth}}" class="img-fluid" alt="Ether">
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {# Graphic design is my passion #}
  </body>
</html>
